// script
script(src="https://www.gstatic.com/firebasejs/3.4.0/firebase.js")
script(src="js/vendor/jquery/dist/jquery.min.js")
script(src="js/vendor/jquery-ui/jquery-ui.min.js")
//- script(src="js/vendor/ajax-cross-origin/js/jquery.ajax-cross-origin.min.js")
script(src="https://cdn.rawgit.com/blowsie/Pure-JavaScript-HTML5-Parser/master/htmlparser.js")
script(src="https://cdn.rawgit.com/Jxck/html2json/master/src/html2json.js")
//- script(src="js/vendor/bootstrap/dist/js/bootstrap.min.js")
script(src="js/plugins.js")
script(src="js/main.js")