// reset
* {
	outline: none !important;

	&:focus {
		outline: none !important;
	}
}

a {
	text-decoration: none;
	cursor: pointer;

	&:hover, &:focus {
		text-decoration: none;
	}
}

// divs
div{

	&.centered{
		text-align: center;
	}
}

// buttons
button, input[type="button"], .button, a.button{
	font-size: 32px;
	border: none;
	padding: 10px 20px;
	background-color: white;

	&.rounded{
		border-radius: 10px;
	}

	&.primary{
		background-color: $theme-dark;
		color: white;

		&:hover{
			background-color: $theme-green-dark;
			color: white;
		}
	}

	&.accent{
		background-color: $theme-accent;
		color: $theme-dark;

		&:hover{
			background-color: $theme-green-light;
		}
	}
}

// datepicker
.ui-datepicker{
	display: none;
	background: white;
	margin-left: 0px;
	box-shadow: 3px 3px 2px 1px rgba(0,0,0,0.3);
	font-family: $roboto-condensed, sans-serif;

	.ui-datepicker-header{
		padding: 20px;
		background-color: $theme-green-light;
		position: relative;

		.ui-datepicker-prev{
			position: absolute;
			left: 20px;
			cursor: pointer;
			
			&::before{
				content: "\f053";
				font-family: $font-awesome;
				color: $theme-dark;
			}

			span{
				display: none;
			}
		}

		.ui-datepicker-next{
			position: absolute;
			right: 20px;
			cursor: pointer;

			&::before{
				content: "\f054";
				font-family: $font-awesome;
				color: $theme-dark;
			}

			span{
				display: none;
			}
		}

		.ui-datepicker-title{
			padding: 0px 40px;
			color: $theme-dark;
			text-align: center;
		}
	}

	.ui-datepicker-calendar{
		width: 100%;

		th,td{
			padding: 10px;
		}

		.ui-state-disabled{
			cursor: default;

			span{
				color: #a9a9a9;
			}
		}

		td[data-handler="selectDay"]{
			cursor: pointer;
			text-align: center;

			a{
				color: $theme-dark;
			}

			&:hover{
				background-color: $theme-accent;

				a{
					font-weight: 700;
				}
			}
		}
	}
}

// form group
.form-group{
	margin: 10px;
}

// input
input[type="text"]{

	&:invalid, &:-moz-ui-invalid{
		box-shadow: none;
	}
}

// checkboxes
input[type="checkbox"]{
	display: none;

	& + label{
		cursor: pointer;
		font-size: 18px;
		line-height: 20px;
		height: 20px;
		margin-bottom: 0px;

		.checkbox{
			height: 20px;
			border-radius: 10px;
			width: 40px;
			background-color: lightgray;
			display: inline-block;
			position: relative;
			transition: all 0.3s;

			.inside{
				width: 20px;
				height: 20px;
				border-radius: 50%;
				background-color: $theme-dark;
				position: absolute;
				left: 0px;
				transition: all 0.3s;
			}
		}
	}

	&:checked{

		& + label{

			.checkbox{
				background-color: $theme-green;

				.inside{
					right: 0px;
					left: 20px;
				}
			}
		}
	}
}

body{
	font-family: $montserrat, sans-serif;

	header{

	}

	main{
		height: 100vh;
		overflow: hidden;

		section{
			min-height: 100vh;
			width: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			position: relative;

			&.main{
				background-color: $theme-dark;
				color: white;

				h1{
					font-size: 40px;
					line-height: 60px;
				}

				.select-wrapper{
					display: inline-block;
					position: relative;

					&::after{
						content: "\f107";
						font-family: $font-awesome;
						pointer-events: none;
						color: $theme-accent;
						position: absolute;
						right: 5px;
						top: 5px;
					}
				}

				select.main{
					border: none;
					border-bottom: 2px dashed $theme-accent;
					background: none;
					color: $theme-accent;
					appearance: none;
					-webkit-appearance: none;
					-moz-appearance: none;
					padding-right: 60px;

					option{
						background-color: white;
						color: $theme-dark;
					}
				}

				input{
					border: none;
					border-bottom: 2px dashed $theme-accent;
					background: none;
					color: $theme-accent;
				}

				div.centered{
					margin-top: 80px;
				}

				.error-tip{
					display: none;
					position: absolute;
					top: 0px;
					right: 80px;
					padding-top: 80px;

					.error-box{
						background-color: white;
						box-shadow: 3px 3px 2px 1px rgba(0,0,0,0.3);
						padding: 20px;
						text-align: center;
						width: 150px;
						word-wrap: break-word;
						transition: all 0.5s;

						p{
							color: black;
							font-family: $roboto-condensed;
							transition: all 0.5s;
						}

						span.fa{
							color: #ff7777;
							font-size: 60px;
							transition: all 0.5s;
						}
					}

					&.new{

						.error-box{
							background-color: #ff4444;

							p, span.fa{
								color: white;
							}
						}
					}
				}
			}

			&.list{
				justify-content: flex-start;
				transition: background 1s;

				&.malam{
					background-color: #333333;

					.list-content{

						.list-header{
							border-color: $theme-green-light;
							
							h3{
								color: white;
							}
						}

						.list-filter{

							h3{
								color: white;
							}

							.stasiun{

								.judul{
									color: $theme-accent;
								}

								.list{

									input[type="checkbox"]{

										& + label{
											color: white;

											.checkbox{
												background-color: #555555;

												.inside{
													background-color: white;
												}
											}
										}

										&:checked + label{

											.checkbox{
												background-color: $theme-green;
											}
										}
									}
								}
							}
						}

						.list-body{

							.class-box{

								.box{

									h2{
										color: white;
									}

									.card{
										background-color: #2a2a2a;

										.rute{
											background-color: #444444;
											border-color: #555555;
											color: #eeeeee;
										}

										.detail{

											.nama-kereta{
												color: white;
											}

											.berangkat, .sampai{

												.head{
													color: #eeeeee;
												}

												.foot{
													color: $theme-accent;
												}
											}

											.strip{
												color: #eeeeee;
											}

											.durasi{
												color: #eeeeee;
											}

											.harga{
												color: $theme-accent;
											}

											.beli{
												
												a{
													background-color: $theme-dark;
													color: $theme-accent;
												}
											}
										}
									}
								}
							}
						}
					}
				}

				.list-content{
					height: 100%;
					width: 80%;
					padding: 40px 0px;
					position: relative;

					.siang-malam{
						width: 10%;
						padding-bottom: 10%;
						background-color: red;
						position: absolute;
						top: 0px;
						left: -12.5%;
						box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.5);
						overflow: hidden;
						cursor: pointer;

						&:hover{

							.isi{
								background-color: $theme-accent;
							}
						}

						.isi{
							width: 100%;
							height: 100%;
							position: absolute;
							left: 0px;
							top: 0px;
							right: 0px;
							bottom: 0px;
							background-color: white;
							padding: 10px;
							transition: all 0.3s;

							.fa{
								font-size: 24px;
								position: absolute;
								transition: all 0.5s;
								top: 15px;
								left: 15px;
							}

							&.both{

								.fa-sun-o{
									color: $theme-green;
									top: 50%;
									transform: translateY(-50%);
									left: 5px;
								}

								.fa-moon-o{
									color: $theme-dark;
									left: 50%;
									top: 5px;
									transform: translateX(-50%);
								}
							}

							&.siang{

								.fa-sun-o{
									top: 15px;
									left: 15px;
								}

								.fa-moon-o{
									top: 101%;
								}
							}

							&.malam{

								.fa-sun-o{
									top: 101%;
								}

								.fa-moon-o{
									top: 15px;
									left: 15px;
								}
							}
						}

						.segitiga{
							position: absolute;
							bottom: 0px;
							left: 0px;
							width: 0px;
							height: 0px;
							border-bottom: 500px solid $theme-dark;
							border-left: 500px solid transparent;
						}
					}

					.notif{
						position: fixed;
						bottom: 0px;
						left: 0px;
						width: 100%;
						padding: 30px 30%;
						display: none;
						z-index: 6;

						.notif-box{
							width: 100%;
							background-color: rgba(0,0,0,0.8);
							border-radius: 5px;
							text-align: center;
							padding: 10px;

							h3{
								color: white;
								font-size: 18px;
								line-height: normal;
							}
						}
					}

					.list-header{
						border-bottom: 3px solid $theme-dark;
						margin-bottom: 40px;

						h3{

							span{
								color: $theme-green;
							}
						}

						.ulangi-pencarian{
							margin: 25px 0px;
							display: table;
							font-size: 20px;
						}
					}

					.list-filter{

						.stasiun{
							display: flex;
							flex-direction: row;
							justify-content: flex-start;
							flex-wrap: nowrap;

							.judul{
								font-family: $roboto-condensed, sans-serif;
								font-size: 22px;
								padding: 20px;
								color: $theme-dark;
							}

							.list{
								padding: 20px;
								display: flex;
								flex-direction: row;
								justify-content: flex-start;
								align-items: center;
								flex-wrap: wrap;
							}
						}
					}

					.class-box{

						.box{
							margin: 25px 0px;
							display: none;

							.card{
								border: none;
								border-radius: 0px;
								box-shadow: 2px 2px 3px 1px rgba(0,0,0,0.3);
								background-color: #fcfcfc;
								font-family: $roboto-condensed, sans-serif;
								width: calc(100% - 10px);
								margin-left: 5px;
								
								.rute{
									padding: 10px;
									border-bottom: 1px solid #eeeeee;
									background-color: white;
									color: #4a4a4a;
								}

								.detail{
									padding: 20px;
									display: flex;
									flex-direction: row;
									justify-content: space-around;
									align-items: center;
									flex-wrap: nowrap;

									.nama-kereta{
										font-family: $montserrat, sans-serif;
										font-size: 24px;
										font-weight: 700;
										padding: 0px 20px;
										width: 300px;
									}

									.berangkat, .sampai{
										text-align: center;
										
										.head{
											color: #4a4a4a;
										}

										.foot{
											color: $theme-dark;
											font-family: $montserrat, sans-serif;
											font-size: 24px;
										}
									}

									.strip{
										padding: 10px;
									}

									.durasi{
										white-space: nowrap;
										padding: 10px;
									}

									.harga{
										font-family: $montserrat, sans-serif;
										font-weight: 700;
										font-size: 28px;
										color: $theme-dark;
									}

									.beli{
										margin-left: 20px;

										.button{
											font-size: 18px;
											font-family: $montserrat, sans-serif;
											display: inline-block;
											text-align: center;
										}
									}
								}
							}
						}

						&.eksekutif{
							
							.eksekutif{
								display: block;
							}
						}

						&.bisnis{
							
							.bisnis{
								display: block;
							}
						}

						&.ekonomi{
							
							.ekonomi{
								display: block;
							}
						}
					}

				}

				.loading-screen{
					width: 100%;
					height: 100vh;
					position: absolute;
					top: 0px;
					left: 0px;
					background-color: rgba(0,0,0,0.6);
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;

					span.fa{
						color: $theme-accent;
						font-size: 100px;
						animation: spin 4s linear infinite;
					}

					.loading{
						margin-top: 40px;
						text-align: center;

						h3{
							color: $theme-accent;
						}
					}
				}

				.no-ticket{
					display: none;
					width: 400px;
					height: calc(50vh + 200px);
					position: absolute;
					left: calc(50% - 200px);
					top: calc(50% - 200px);

					.box{
						width: 400px;
						height: 400px;
						background-color: $theme-dark;
						box-shadow: 3px 3px 4px 1px rgba(0,0,0,0.3);
						display: flex;
						flex-direction: column;
						justify-content: center;
						align-items: center;
						padding: 20px;

						h2{
							color: $theme-green-light;
							text-align: center;
							margin-bottom: 40px;
						}
					}
				}
			}
		}
	}

	footer{

	}
}

// animations
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); }}
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); }}
@keyframes spin { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg); }}

