// custom screen size
$small-desktop: 1400px;
$tablet: 1024px;
$tablet-portrait: 991px;
$phone: 767px;

// desktop small and tablet potrait ( max-width 1400px )
@include mediaBreakpoint($small-desktop) {


}

// tablet landscape ( max-width 1024px )
@include mediaBreakpoint($tablet) {

main{

    section{

        &.main{

            h1{
                font-size: 32px;
                line-height: 44px;
            }

            .centered{

                button{
                    font-size: 24px;
                }
            }
        }

        &.list{

            .list-content{

                .list-header{

                    h3{
                        font-size: 20px;
                    }

                    .ulangi-pencarian{
                        font-size: 14px;
                    }
                }

                .list-filter{

                    h3{
                        font-size: 18px;
                    }

                    .stasiun{

                        .judul{
                            padding: 10px;
                        }
                        
                        .list{  
                            padding: 10px;

                            .form-group{
                                margin: 5px;
                            }

                            input[type="checkbox"] + label{
                                font-size: 14px;

                                .checkbox{
                                    height: 14px;
                                    width: 28px;

                                    .inside{
                                        width: 14px;
                                        height: 14px;
                                    }
                                }
                            }

                            input[type="checkbox"]:checked + label{

                                .checkbox{

                                    .inside{
                                        left: 14px;
                                    }
                                }
                            }

                        }
                    }
                }

                .list-body{

                    .class-box{

                        .box{

                            h2{
                                font-size: 18px;
                            }

                            .card{

                                .rute{
                                    padding: 5px;
                                    font-size: 14px;
                                }

                                .detail{
                                    padding: 7px;

                                    .nama-kereta{
                                        font-size: 16px;
                                    }

                                    .berangkat, .sampai{

                                        .foot{
                                            font-size: 16px;
                                        }
                                    }

                                    .harga{
                                        font-size: 20px;
                                    }

                                    .beli{

                                        a{
                                            font-size: 14px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

}

// tablet portrait ( max-width 991px )
@include mediaBreakpoint($tablet-portrait){

main{

    section{

        &.list{

            .list-content{
                width: 90%;

                .siang-malam{
                    width: 100px;
                    padding-bottom: 100px;
                    left: -5.55556%;
                    top: -40px;
                    margin-bottom: 0px;
                    position: relative;
                    box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
                }

                .notif{
                    padding: 30px 10%;
                }
            }
        }
    }
}

}

//small mobile (max-width 767px)
@include mediaBreakpoint($phone) {

.ui-datepicker{
    top: 50% !important;
    left: 50% !important;
    transform: translate3d(-50%, -50%, 0) !important;
}

main{

    section{

        &.main{

            h1{
                max-width: 100vw;
                padding: 20px;
                font-size: 22px;
                line-height: 34px;

                select, input{
                    max-width: 100%;
                }
            }

            div.centered{
                margin-top: 20px;

                button{
                    font-size: 16px;
                }
            }
        }

        &.list{

            .list-content{
                width: 95%;

                .siang-malam{
                    left: -2.631578947368421052631578947368%;
                }

                .notif{
                    padding: 20px 5%;
                }

                .list-filter{

                    h3{
                        cursor: pointer;

                        &::after{
                            content: "    \f078";
                            font-family: $font-awesome;
                        }

                        &.expand::after{
                            content: "    \f077";
                        }
                    }

                    .stasiun{
                        display: none;
                    }
                }

                .list-body{

                    .class-box{

                        .box{

                            .card{

                                .detail{
                                    flex-wrap: wrap;

                                    .nama-kereta{
                                        font-size: 16px;
                                        padding: 0px 10px 10px 10px;
                                        width: 100%;
                                    }

                                    .berangkat, .sampai{

                                        .head{
                                            font-size: 12px;
                                        }

                                        .foot{
                                            font-size: 10px;
                                        }
                                    }

                                    .strip{
                                        font-size: 10px;
                                    }

                                    .durasi{
                                        font-size: 10px;
                                    }

                                    .harga{
                                        font-size: 18px;
                                        padding-left: 10px;
                                    }

                                    .beli{
                                        width: 100%;
                                        margin: 0px;
                                        padding: 15px 10px 0px 10px;

                                        a{
                                            font-size: 12px;
                                            padding: 5px 10px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .no-ticket{
                max-width: 95vw;
                height: 200px;
                left: 50%;
                top: 10%;
                transform: translate3d(-50%, 0, 0);

                .box{
                    width: 100%;
                    height: 200px;

                    h2{
                        font-size: 24px;
                    }

                    .ulangi-pencarian{
                        font-size: 18px;
                        text-align: center;
                    }
                }
            }
        }
    }
}

}
