$montserrat: 'Montserrat';
$font-awesome: 'FontAwesome';
$roboto-condensed: 'Roboto Condensed';

// basic variables
$theme-dark: #0B486B;
$theme-green-dark: #3B8686;
$theme-green: #79BD9A;
$theme-green-light: #A8DBA8;
$theme-accent: #CFF09E;